{% extends 'base.html' %}
{% load static %}
{% block title%} {{ yazi.baslik }} {% endblock%}
{% load crispy_forms_tags %}

{% block content %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ yazi.resim.url }}" class="img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ yazi.baslik }}</h5>
        <p class="card-text">{{ yazi.icerik|safe }}</p>
        <p class="card-text">
          <small class="text-muted">
          Önce Paylaşıldı: {{ yazi.duzenlenme_tarihi|timesince }}
          <br>
          Yazar : <a href="{% url 'profil' username=yazi.yazar.username %}"> {{ yazi.yazar.username }}</a>
        </small>
         {% if request.user == yazi.yazar %}
          <p>
            <a class="btn btn-primary" href="{% url 'yazi-guncelle' slug=yazi.slug %}">Düzenle</a>
            <a class="btn btn-danger" href="{% url 'yazi-sil' slug=yazi.slug %}">Sil</a>
          </p>
         {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

<h5>Yorumlar</h5>

{% if request.user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}
    {{ yorum_ekle_form|crispy }}
    <input type="submit" value="Yorum Yap" class="btn btn-danger mt-3 mb-3" />
  </form>
{%else%}
  <p>Yorum yapmak için lütfen üye giriş yapınız.</p>
{%endif%}

{% include 'components/message.html' %}

{% for yorum in yorumlar %}
  <div class="card">
    <div class="card-body" style="display:flex;flex-direction: row;">
      <div>
        {% if yorum.yazan.avatar %}
          <img src="{{ yorum.yazan.avatar.url }}"  class="rounded" class="pt-4" width="75px" height="75px">
        {% else %}
          <img src="{% static 'img/no-avatar.jpg' %}"  class="rounded" class="pt-4" width="75px" height="75px">
        {% endif %}
      </div>
      <div>
        <h5 class="card-title">{{ yorum.yazan.username }}</h5>
        <p class="card-text">
          {{ yorum.yorum }}
        </p>
        {% if request.user == yorum.yazan or request.user == yazi.yazar %}
          <p>
            <a class="btn btn-danger" href="{% url 'yorum-sil' id=yorum.id %}">Yorum Sil</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

{% empty %}
<p>Bu yazı için hiç yorum yapılmamış. </p>
{% endfor %}


{% endblock %}