{% extends 'base.html' %}

{% block title%} {{kategori_isim}} {% endblock%}

{% block content %}

{% for yazi in yazilar %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ yazi.resim.url }}" class="img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'detay' slug=yazi.slug %}">
            {{ yazi.baslik }}
          </a>
        </h5>
        <p class="card-text">{{ yazi.icerik|safe|truncatechars_html:150}}</p>
        <p class="card-text"><small class="text-muted">Önce Paylaşıldı: {{ yazi.duzenlenme_tarihi|timesince }}</small></p>
      </div>
    </div>
  </div>
</div>
{% empty %}
<p>Hiç Yazı Bulunamadı..</p>
{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Önceki</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Önceki</a>
      </li>
    {% endif %}
   
    <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
    
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">Sonraki</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Son Sayfa</a>
      </li>
    {%endif%}
   
  </ul>
</nav>


{% endblock %}