<div class="col-sm-3">
    
    <div class="card mb-3">
      <div class="card-header">
        Menü
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="{% url 'profil-guncelle' %}">Profil Düzenle</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'sifre-degistir' %}">Şifre Değiştir</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'yazi-ekle' %}">Yazi Ekle</a>
        </li>
        <li class="list-group-item">
        <a href="{% url 'yazilarim' %}">Yazılarım</a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'cikis' %}">Çıkış</a>
        </li>
      </ul>
   
    </div>

</div>