<div class="col-sm-3">

    <div class="card mb-3">
      <div class="card-header">
        Menü
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Profil Düzenle
        </li>
        <li class="list-group-item">
          Şifre Değiştir
        </li>
        <li class="list-group-item">
          Yazı Ekle
        </li>
        <li class="list-group-item">
         Yazılarım
        </li>
        <li class="list-group-item">
          Çıkış Yap
        </li>
      </ul>
    </div>

  </div>