<div class="col-sm-3">
    
    <div class="card mb-3">
      <div class="card-header">
        Menü
      </div>
    {% if request.user.is_authenticated %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Profil Düzenle
      </li>
      <li class="list-group-item">
        Şifre Değiştir
      </li>
      <li class="list-group-item">
        <a href="{% url 'yazi-ekle' %}">Yazi Ekle</a>
      </li>
      <li class="list-group-item">
       <a href="{% url 'yazilarim' %}">Yazılarım</a>
      </li>
      <li class="list-group-item">
        Çıkış Yap
      </li>
    </ul>
    {% else%}
    Login formu gelecek
    {% endif %}
    </div>

</div>